html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

.container {
    font-family: 'Lato', sans-serif;
    margin: auto;
    max-width: 400px;
    min-height: 80vh;
    padding: 10px;
    background-image: url("../Images/cc1.jpg");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

.form {
    display: block;
    margin-top: 0em;
}

.form__header {
    color: #300d06;
    text-align: center;
}

.form__labelText {
    width: 100%;
    max-width: 300px;
    display: inline-block;
    margin-right: 10px;
}

.form__field {
    border: 1px solid black;
    width: 100%;
    padding: 10px;
    max-width: 400px;
    border-radius: 10px;
}

.form__button {
    width: 100%;
    color: rgb(71, 6, 19);
    background-color: rgb(170, 189, 166);
    max-width: 400px;
    border-radius: 10px;
    padding: 5px;
    font-size: larger;
}

.form__result {
    color: #220804;
    text-align: center;
    font-size: 25px;
}